body {
  background-color: rgb(214, 210, 189);
}

.grid {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  height: 40vw;
  width: 40vw;
  border: 5px solid black;
}

#cell {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.089);
}

#cell:hover {
  background-color: rgb(219, 188, 9);
}
