body {
  background-color: rgb(214, 210, 189);
  margin: 0 0 0 0;
  font: sans-serif;
}

div {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(160, 46, 1);
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

#controls {
  display: flex;
  flex-direction: column;
  background-color: rgb(160, 46, 1);
  border: 10px solid rgb(160, 46, 1);
  height: 40vw;
  width: 12vw;
  margin: 10px;
  align-items: center;
  border-radius: 1%;
}

input[type="color"] {
  display: none;
}

#colorBtn {
  height: 10vw;
  width: 10vw;
  background-color: black;
  /* border: none; */
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#colorText {
  margin: 8px;
  width: 9vw;
  text-align: center;
  font-size: 0.85vw;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 15px;
}

.rainbowBtn,
.eraseBtn,
.clearBtn,
.newGrid {
  margin: 10px;
  width: 10vw;
  height: 3vw;
  font-size: 0.85vw;
  font-weight: bold;
  color: rgb(160, 46, 1);
  background-color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.rainbowBtn:hover,
.eraseBtn:hover,
.clearBtn:hover,
.newGrid:hover {
  background-color: rgb(228, 186, 168);
}

.clickedBtn,
.clearBtn:focus,
.newGrid:focus {
  margin: 10px;
  width: 10vw;
  height: 3vw;
  font-size: 0.85vw;
  font-weight: bold;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(160, 46, 1);
  box-shadow: 0px 0px 0px 1px #fff;
  animation: anim-shadow 0.3s forwards;
  transition: 0.3s;
}
@keyframes anim-shadow {
  100% {
    box-shadow: 0px 0px 50px 20px rgb(128, 128, 128, 0);
  }
}
/********/

#sliderRange,
#gSlider {
  width: 10vw;
  text-align: center;
}

#rangeValue {
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
}

.cell {
  border: 1px solid rgba(128, 128, 128, 0.089);
  background-color: white;
}

.cell:hover {
  background-color: rgb(2, 19, 255);
  opacity: 0.15;
}
